@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body,
html {
  width: 100%;
  height: 100%; }

img {
  display: block;
  width: 100%;
  height: auto; }

body {
  font-family: 'Open Sans', sans-serif; }

ul {
  list-style-type: none; }

.section {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 50px; }

.box {
  background: #F2F2F2;
  display: flex;
  flex-direction: column; }
  .box .text {
    padding: 15px 20px; }
    .box .text h3 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 20px;
      color: #666666; }
    .box .text p {
      color: #333333;
      font-size: 14px;
      margin-bottom: 20px; }
  .box button {
    align-self: center;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 30px;
    outline: none;
    cursor: pointer;
    border: 1px solid #cdcdcd;
    background: white;
    color: #666;
    margin-bottom: 20px;
    margin-top: auto; }
    .box button:hover {
      background: #e6e6e6; }

.services {
  display: flex;
  background-image: url("../img/bg-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 50px; }
  .services .text {
    width: 960px;
    margin: 0 auto;
    padding: 70px;
    text-align: center;
    color: white; }
    .services .text h2 {
      margin-bottom: 20px;
      font-size: 36px;
      text-shadow: 2px 2px #aaa; }
    .services .text p {
      width: 70%;
      margin: 0 auto;
      line-height: 1.8;
      font-size: 18px; }

.section-4 button {
  align-self: flex-start;
  margin-left: 20px; }

#scrolltop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer; }

nav {
  width: 100%;
  background: #383E4C;
  text-align: center;
  position: fixed; }
  nav ul {
    display: flex;
    justify-content: center; }
  nav a {
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    display: block;
    border: 1px solid #646d7c;
    margin: 10px 10px 15px 10px;
    font-size: 20px;
    cursor: pointer; }
    nav a:hover {
      background: #646d7c; }

.active {
  background: #646d7c; }

.responsive-menu {
  display: flex;
  transform: translate(-100%);
  position: fixed;
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: menu2 300ms linear forwards; }
  .responsive-menu a {
    text-decoration: none;
    margin-bottom: 10px;
    display: block; }
  .responsive-menu .close {
    position: fixed;
    left: 20px;
    top: 20px; }

.hamburger {
  display: none; }

.show {
  display: flex;
  transform: translate(0%);
  animation: menu 300ms linear forwards; }

@keyframes menu {
  0% {
    transform: translate(-100%); }
  100% {
    transform: translatte(0); } }
@keyframes menu2 {
  0% {
    transform: translate(0); }
  100% {
    transform: translatte(-100%); } }
header {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; }
  header h1 {
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-weight: normal; }
  header h4 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: normal;
    text-shadow: 1px 1px #333; }

.section-1 .box {
  width: 31%; }
.section-1 .green h3 {
  color: #178A27;
  margin-top: 0px; }
.section-1 .green button {
  background-color: #178A27;
  color: white; }
  .section-1 .green button:hover {
    background-color: #1eb633; }
.section-1 .blue h3 {
  color: #1686C1;
  margin-top: 0px; }
.section-1 .blue button {
  background-color: #1686C1;
  color: white; }
  .section-1 .blue button:hover {
    background-color: #24a3e6; }
.section-1 .red h3 {
  color: #852406;
  margin-top: 0px; }
.section-1 .red button {
  background-color: #852406;
  color: white; }
  .section-1 .red button:hover {
    background-color: #b63108; }

.section-2 .box {
  width: 47%; }
  .section-2 .box h3 {
    text-align: center; }
  .section-2 .box button {
    align-self: flex-end;
    margin-right: 70px; }

.section-3 .box {
  width: 22%; }
.section-3 h3 {
  text-align: center;
  font-weight: bold; }

.contact {
  width: 100%;
  height: 100vh;
  background-image: url("../img/bg-3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contact .box {
    background: transparent;
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column; }
  .contact h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px; }
  .contact p {
    padding: 50px;
    background: rgba(242, 242, 242, 0.4);
    text-align: center;
    margin-bottom: 20px; }
  .contact form {
    display: flex;
    justify-content: space-between; }
    .contact form .left,
    .contact form .right {
      width: 48%; }
    .contact form input,
    .contact form textarea {
      width: 100%;
      border: none;
      border-radius: 2px;
      background: rgba(242, 242, 242, 0.4);
      outline: none;
      padding: 10px; }
      .contact form input::placeholder,
      .contact form textarea::placeholder {
        color: black; }
    .contact form input {
      margin-bottom: 20px; }
    .contact form textarea {
      resize: none;
      height: 145px;
      margin-bottom: 20px; }
  .contact button {
    background: #262628;
    color: white; }
    .contact button:hover {
      color: #262628; }

@media screen and (max-width: 960px) {
  .section {
    width: 100%; }

  .contact {
    height: auto; }
    .contact .box {
      padding: 50px;
      width: 80%; } }
@media screen and (max-width: 800px) {
  .section {
    flex-wrap: wrap; }
    .section .text p {
      font-size: 12px; }

  .section-3 .box {
    width: 49%;
    margin-bottom: 20px; } }
@media screen and (max-width: 630px) {
  nav {
    display: none; }

  .hamburger {
    display: block;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1; }

  .section .box {
    width: 70%;
    margin-bottom: 20px; }

  .services .text p {
    line-height: 1.2;
    font-size: 12px; }

  .contact .box {
    padding: 50px 0;
    width: 95%; }
    .contact .box p {
      padding: 20px; }
    .contact .box form {
      flex-wrap: wrap; }
      .contact .box form .right, .contact .box form .left {
        width: 100%; } }
@media screen and (max-width: 540px) {
  .section .box {
    width: 95%; } }

/*# sourceMappingURL=main.css.map */
